.card {
  background: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  max-height: 845px;
  height: 830px;
}

.smallCard {
  background: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  height: auto;
}

.customTable {
  background: "#f5f5f5";
  color: "#000000";
   max-height: 550px !important;
  overflow-y: auto;
}

.createBtn {
  background: #737f9e;
  color: white !important;
  border-radius: 6px;
  border: none;
  padding: 4px 12px;
  transition: background 0.3s ease;
}

.createBtn:hover {
  background: #5a6485 !important;
  color: #c7c7c7 !important;
}

.baseButtonFilter {
  border: none !important;
  padding: 6px 14px;
  font-weight: 500;
  color: #fff !important;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  background: #22c55e !important;
  transition: background 0.3s ease;
}

.baseButtonFilter:hover {
  background: #16a34a !important;
}

.baseButtonClear {
  border: none !important;
  padding: 6px 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #fff !important;
  cursor: pointer;
  background: #737F9E !important;
  transition: background 0.3s ease;
}

.baseButtonClear:hover {
  background: #475569 !important;
}

.breaktitle {
  font-weight: bold;
  color: #000;
}
.breaktitlee {
  color: #7D8BAA;
  margin-bottom: 16px;
}
.cont {
  display: flex;
  gap: 16px;
}
.cont2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cont3 {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}
.cont4 {
  margin: 0;
  font-weight: bold;
  color: #000;
}
.cont5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont6 {
  font-size: 0.9rem;
  color: #555;
}

.cont7 {
  margin-left: 6px;
  font-weight: bold;
  color: #3FC348;
}

.cont8 {
  font-size: 0.85rem;
  color: #999;
}

.contb {
  width: 1px;
  background: #eee;
}
.messageBtn {
  background-color: #737F9E;
  border: none;
  width: 40px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 5px;
}
.editBtn {
  background-color: #FBBC0B;
  border: none;
  width: 40px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 5px;
}

.noBorder {
  border-bottom: none !important;
}