.card {
  background: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.style_table {
  background: "#ffffff";
  color: "#000000";
}

.customSelect :global(.ant-select-selector) {
  background: #f9fafb !important;
  color: #333 !important;
  width: 100% !important;
  transition: all 0.2s ease;
  border: 1px solid #c7c7c7 !important;
}

.customSelect :global(.ant-select-item-option-content) {
  background-color: #f9fafb !important;
}
.customSelect :global(.ant-select-selector:hover) {
  border-color: #c7c7c7;
  box-shadow: 0 0 0 2px rgba(22, 119, 255, 0.2);
}

.customSelect :global(.ant-select-arrow) {
  color: #c7c7c7;
}

:global(.ant-modal .ant-modal-content) {
  border-radius: 12px;
  background-color: #f5f5f5;
  border: 1px solid #e5e7eb;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

:global(.ant-modal .ant-modal-header) {
  color: #333 !important;
  background-color: #f5f5f5;
}
:global(.ant-modal .ant-modal-title) {
  color: #333 !important;
}

:global(.ant-input-outlined:focus),
:global(.ant-input-outlined:focus-within) {
  border-color: #1677ff;
  box-shadow: 0 0 0 2px rgb(230, 244, 255);
  outline: none;
  background-color: #151345;
  color: #fff;
}

:global(.ant-select-selector) {
  background: #fff !important;
}

:global(.ant-select-dropdown) {
  background: #f5f5f5 !important;
}

:global(.ant-select-item) {
  color: #333 !important;
}

:global(
  .ant-table-wrapper .ant-table-thead > tr > th:not(:last-child)::before
) {
  height: 0 !important;
}

:global(.ant-table-wrapper .ant-table-thead > tr > th) {
  border: none;
}

:global(.ant-table-wrapper .ant-table-tbody > tr > td) {
  background-color: #fff;
  color: #151345;
}

:global(.ant-btn-variant-text) {
  color: #c7c7c7 !important;
  background-color: #fff;
  border: none;
  font-size: 18px !important;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}
