body {
  background-color: #151345;
}
.sidebar {
  background-color: #151345;
  border-color: unset;
  border-right-width: unset;
  border-right-style: none;
  padding: 0 5px;
}
.page-content {
  padding: 20px;
}

.main-shell {
  /* padding: 24px; */
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
}

.menu-light {
  background-color: unset;
}

.menu-light .ant-menu-item-selected {
  background-color: #91caff21;
  color: #fff;
  font-weight: bold;
}

/* Show menu text even when sidebar is collapsed */
.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-title-content,
.ant-menu-inline-collapsed
  > .ant-menu-item-group
  .ant-menu-item
  .ant-menu-title-content,
.ant-menu-inline-collapsed
  > .ant-menu-submenu
  .ant-menu-submenu-title
  .ant-menu-title-content {
  opacity: 1 !important;
  transition: none !important;
}
/* Force sidebar menu items to align left, both collapsed and expanded */
.sidebar .ant-menu-item,
.sidebar .ant-menu-submenu-title {
  justify-content: flex-start !important;
  text-align: left !important;
  padding-inline-start: 16px !important;
}

/* When sidebar is collapsed */
.sidebar .ant-menu-inline-collapsed > .ant-menu-item,
.sidebar .ant-menu-inline-collapsed > .ant-menu-submenu-title {
  padding-inline-start: 18px !important;
}

.page-content {
  margin-left: 200px;
  margin-top: 50px;
  min-height: calc(100vh - 54px);
  /* padding: 24px; */
  /* Background image */
  background-image: url("/icon/sidebar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: 0px;
}

.ant-table-wrapper .ant-table {
  border-radius: 0;
}
.ant-card .ant-card-head {
  border-bottom: 0px;
}

.ant-table-cell-row-hover {
  background: #f5f5f5 !important;
  cursor: pointer;
}
.ant-table-thead > tr > th {
  color: #000000 ;
  background: #0162e8 !important;
  border-radius: 0 !important;
  position: absolute;

}

.ant-table-tbody > tr > td {
  color: #000000;
  background: #ffffff;
}
.ant-table-wrapper .ant-table-tbody > tr > td {
  border: 1px solid #eee;
  padding: 8px 8px;
}
.ant-table-wrapper .ant-table-thead > tr > th {
  padding: 8px 8px;
  border-right: 1px solid #eee !important;
}
.ant-modal .ant-modal-content {
  background-color: #fff;
}
.ant-modal .ant-modal-header {
  background-color: #fff;
  color: #000;
}

.ant-modal .ant-modal-title {
  color: #000;
}
.ant-radio-wrapper {
  color: #000;
}

.ant-input-outlined {
  background-color: #fff;
  color: #000;
}

.ant-input-outlined:hover {
  background-color: #fff;
  color: #000;
}

.ant-modal .ant-modal-title {
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.ant-input-outlined:focus-within {
  background-color: #fff;
}